@model FileUploadsInAspNetMvc.Models.CaregiverRecord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CaregiverRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CareDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CareTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CareText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CareFeedback)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareFeedback)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
